/*!
Theme Name: Kadence Child
Description: A child theme of the Kadence theme
Author: Imagebox
Template: kadence
Version: 1.0.0
*/

.post-type-archive-team {

}

.section-team {
  padding: 2em 0;
}
.section-team .l-grid {
  justify-content: flex-start;
}

.section-team + .section-team {
  margin-top: 1.5em;
}

.section-team-header {
  margin-bottom: 2em;
  text-align: center;
}
.section-team-header h3 {
  font-size: 26px;
}

.category-section + .category-section {
  margin-top: 4rem;
}

.category-section-header {
  margin-bottom: 1.5rem;
}


/**
 * Grid
 */

.l-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -1em -1em;
}

.l-grid-item {
  display: flex;
  padding: 0 0 1em 1em;
  width: 50%;
}
.l-grid-item > * {
  width: 100%;
}
@media screen and (min-width: 30em) {
  .l-grid--3-col .l-grid-item,
  .l-grid--4-col .l-grid-item {
    width: 50%;
  }
  .l-grid--5-col .l-grid-item,
  .l-grid--6-col .l-grid-item {
    width: 50%;
  }
}
@media screen and (min-width: 47.5em) {
  .l-grid--3-col .l-grid-item,
  .l-grid--4-col .l-grid-item {
    width: 50%;
  }
  .l-grid--5-col .l-grid-item,
  .l-grid--6-col .l-grid-item {
    width: 33.333%;
  }
}
@media screen and (min-width: 60em) {
  .l-grid--3-col .l-grid-item {
    width: 33.333%;
  }
  .l-grid--4-col .l-grid-item {
    width: 25%;
  }
  .l-grid--5-col .l-grid-item {
    width: 20%;
  }
  .l-grid--6-col .l-grid-item {
    width: 16.666%;
  }
}


/**
 * Containers
 */

.l-sidebar {
  margin-left: -3em;
}
.l-sidebar::after {
  display: block;
  clear: both;
  content: ' ';
}
.l-aside-col,
.l-main-col {
  width: 100%;
  padding-left: 3em;
}
@media screen and (min-width: 47.5em) {
  .l-aside-col,
  .l-main-col {
    float: left;
  }
  .l-aside-col {
    width: 35%;
  }
  .l-main-col {
    width: 65%;
  }
}


/**
 * Team Card
 */

.team-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 12.25em;
  color: #2a2a2c;
  text-align: left;
  text-decoration: none;
  background-color: #fff;
}
.team-card:hover,
.team-card:focus {
  color: #c07c2a;
}
.team-card > * {
  width: 100%;
}

.team-card-title {
  margin: 0;
  color: inherit;
  transition: color 500ms;
}

.team-card-photo img {
  display: block;
  margin: 0 auto;
}

.team-card-photo + .team-card-title {
  margin-top: 0.5em;
}

.team-card-job-title {
  margin: 0;
  margin-bottom: 1rem;
  color: inherit;
  font-size: 0.8125rem;
  transition: color 500ms;
}

.team-card-footer {
  margin-top: auto;
  padding-top: 0.5rem;
  border-top: 1px solid #e6e6e6;
}

.team-card-cats {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 1.5em;
  min-height: 2.8125rem;
  color: #c07c2a;
  font-size: 0.875rem;
  font-weight: 600;
  background: transparent url('child-assets/img/icons/icon-pin.png') left center no-repeat;
  background-size: 1em 1.357em;
}


/**
 * Team Layout Hack
 */

@media screen and (min-width: 60em) {
  .section-team--14,
  .section-team--4 {
    display: inline-block;
    vertical-align: baseline;
    margin-right: -4px;
    width: 40%;
  }
  .section-team--12 {
    display: inline-block;
    vertical-align: baseline;
    margin-right: -4px;
    width: 20%;
  }
  .section-team--29,
  .section-team--23,
  .section-team--25,
  .section-team--26 {
    display: inline-block;
    vertical-align: baseline;
    margin-right: -4px;
    width: 25%;
  }
}

@media screen and (min-width: 60em) {
  .section-team--14 .section-team-header,
  .section-team--4 .section-team-header,
  .section-team--12 .section-team-header,
  .section-team--29 .section-team-header,
  .section-team--23 .section-team-header,
  .section-team--25 .section-team-header,
  .section-team--26 .section-team-header {
    max-width: 23em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 60em) {
  .section-team--14 .l-grid.l-grid--6-col .l-grid-item,
  .section-team--4 .l-grid.l-grid--6-col .l-grid-item {
    width: 40%;
  }
  .section-team--12 .l-grid.l-grid--6-col .l-grid-item {
    width: 76%;
  }
  .section-team--29 .l-grid.l-grid--6-col .l-grid-item,
  .section-team--23 .l-grid.l-grid--6-col .l-grid-item,
  .section-team--25 .l-grid.l-grid--6-col .l-grid-item,
  .section-team--26 .l-grid.l-grid--6-col .l-grid-item {
    width: 65%;
  }
}


/**
 * Single Team Member
 */

/*.single-team .content-area,
.single-team .content-bg,
.single-team body.content-style-unboxed .site {
  background-color: rgb( 247, 247, 247 );
}*/

.team-sidebar-photo {
  margin-bottom: 1.5em;
}
.team-sidebar-photo img {
  display: block;
}

.team-sidebar-content p {
  margin: 0;
  margin-bottom: 0.5em;
}
.team-sidebar-content b {
  color: rgb(42, 42, 44);
}
.team-sidebar-content a[href^="tel:"] {
  text-decoration: none;
}

.team-member-job-title {
  color: rgb(42, 42, 44);
  font-size: 26px;
  font-weight: 700;
}

.team-sidebar-buttons {
  margin-top: 1em;
}
.team-sidebar-buttons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.team-sidebar-buttons ul:after {
  display: block;
  clear: both;
  content: ' ';
}
.team-sidebar-buttons li {
  margin-top: 1em;
  float: left;
}
.team-sidebar-buttons li .button {
  background: linear-gradient(144deg,#198845 0%,#35ba62 100%);
}
.team-sidebar-buttons li .button:hover {
  background: linear-gradient(144deg,#35ba62 0%,#198845 100%);
}

.team-sidebar-buttons a.social-button {
  background: none;
  margin: 0;
  height: 2.5625em;
  width: 2.5625em;
}
.team-sidebar-buttons a:hover {
  transition: none;
}

.team-sidebar-buttons li + li {
  margin-left: .5em;
}

.sidebar-link--email {
  overflow-wrap: anywhere;
}


/**
 * Quote Slideshow
 */

.tns-outer.tns-outer .tns-controls button[data-controls="prev"] {
  left: auto;
  right: 100%;
  right: calc(100% + 1em);
}
.tns-outer.tns-outer .tns-controls button[data-controls="next"] {
  right: auto;
  left: 100%;
  left: calc(100% + 1em);
}

.tns-outer.tns-outer .tns-nav {
  bottom: -25px;
  z-index: 1;
}

.team-review-slideshow {
  margin-top: 2em;
}

.review-quote {
  margin: 0;
  padding: 1em;
  border: 0 none;
  background-color: rgb( 247, 247, 247 );
}

.reviews-stars img {
  display: block;
}

.review-quote-text p {
  font-size: 20px;
  color: rgb(42, 42, 44);
}

.review-quote-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.review-quote-citation {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}

.review-quote-link {
  font-size: 15px;
  font-weight: 700;
}

/*
 * Slider Styles
 */
 .tns-outer {
  position: relative;
}
.tns-outer [data-action=start],
.tns-outer [data-action=stop] {
  display:none;
}
.tns-nav {
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 10;
}
/* DOTS */
.tns-nav>[aria-controls] {
  display: none;
  padding: 0;
  margin: 0 9px;
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: none;
}
.tns-nav>[aria-controls].tns-nav-active {
  background-color: #8d5006;
}

/* ARROWS */
.tns-controls>[aria-controls] {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
  padding: 0;
  border: 0;
  text-align: center;
  transition: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  font-size:1px;
  height:32px;
  width:32px;
  border-radius:50%;
  color: #c07c2a;
}
.tns-controls [data-controls=next] {
  right: 1em;
}
.tns-controls [data-controls=prev] {
  left: 1em;
}
.tns-controls [aria-controls]:hover{
  background-color: #8d5006 !important;
}
.tns-controls [data-controls=next]:before,
.tns-controls [data-controls=prev]:before {
  content: '';
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.tns-controls [data-controls=next]:before {
  transform: rotate(-45deg);
}
.tns-controls [data-controls=prev]:before {
  transform: rotate(135deg);
}


/*
 * CSS button arrow
 */

.button-arrow {
  width: 16px;
  height: 6px;
  display:inline-block;
  margin-left: 5px;
}

.arrow {
  position: relative;
  width: 15px;
  height: 2px;
  background-color: #fff;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  right: -3px;
  background-color: #fff;
}

.arrow::after {
  top: -3px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 3px;
  transform: rotate(-45deg);
}


/**
 * Team Landing
 */

.content-area--team-archive {
  padding: 2.0625rem 0;
  overflow: hidden;
}

.content-area--team-archive .l-sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.content-area--team-archive .l-sidebar.l-sidebar--align-top {
  align-items: stretch;
}

.content-area--team-archive .l-aside-col {
  position: relative;
}
.content-area--team-archive .l-aside-col::after {
  display: none;
  position: absolute;
  left: 11.25rem;
  top: -2.0625rem;
  width: 100vw;
  height: 100%;
  height: calc( 100% + 4.125rem );
  background: transparent url('child-assets/img/bkg-pattern.png') left top repeat;
  content: ' ';
  z-index: 1;
}
.content-area--team-archive .l-sidebar--left .l-aside-col::after {
  left: auto;
  right: 11.25rem;
}
@media screen and (min-width: 47.5em) {
  .content-area--team-archive .l-aside-col::after {
    display: block;
  }
}
.content-area--team-archive .l-aside-col > * {
  position: relative;
  z-index: 10;
}

.team-map-svg {
  display: block;
  width: 100%;
  max-width: 100%;
}

.map-location-button {
  cursor: pointer;
  transition: color 500ms;
}
.map-location-button:hover,
.map-location-button:focus {
  color: #edb33d;
}
.map-location-button.is-active {
  color: #edb33d;
}


/**
 * Team Sidebar Nav
 */

.navigation--sidebar {
  padding: 0.75rem 1.5rem;
  background: #fff;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba( 0, 0, 0, 0.10 );
  overflow: hidden;
}
.navigation--sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation--sidebar li {}
.navigation--sidebar li + li {
  border-top: 1px solid #e5e5e5;
}
.navigation--sidebar a {
  display: block;
  position: relative;
  padding: 1.125rem 1.5rem;
  color: #000;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 500ms;
}
.navigation--sidebar a::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d( 0, -50%, 0 );
  border-radius: 50%;
  width: 0.8125rem;
  height: 0.8125rem;
  background-color: #e5e5e5;
  transition: background-color 500ms;
  content: ' ';
  z-index: 1;
}
.navigation--sidebar a.is-active,
.navigation--sidebar a:hover,
.navigation--sidebar a:focus {
  color: #c07c2a;
}
.navigation--sidebar a.is-active::before,
.navigation--sidebar a:hover::before,
.navigation--sidebar a:focus::before {
  background-color: #c07c2a;
}
